<!-- views/partials/footer.ejs -->
    <div class="text-center">
      <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <h3>
        Daoyuan Online Education
      </h3>
      <h4> 2016 - 2017 All Rights Reserved</h4>
      <p>The information on this and other pages provided by Daoyuan Education... </p>
    </div>

    <p class="text-center text-muted">© Copyright 2016 - 2017 Daoyuan Online Education</p>