<!-- views/partials/header.ejs -->

<nav class="navbar container-fluid navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-book"></span>
                Daoyuan Education
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/views/v1/view/">
            <span class="glyphicon glyphicon glyphicon-home"></span>
            Home</a></li>

            <li><a href="/views/v1/view/coupons">
            <span class="glyphicon glyphicon glyphicon-barcode"></span>
            Coupons</a></li>

            <li><a href="/views/v1/view/users">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            Users</a></li>

            <li><a href="/views/v1/view/orders">
            <span class="glyphicon glyphicon glyphicon-list"></span>
            Orders</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/views/v1/view/info">
            <span class="glyphicon glyphicon glyphicon-info-sign"></span>
            Info</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
        </br></br></br>
        <div>
          <h1>道远课堂</h3>
          <h3>Daoyuan Online Education Coupons Services</h3>
        </div>
</div>