<form id="login-action">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="btn btn-success">Login</button>
    <input type="checkbox" checked="checked"> Remember me
    <br>
    <button class="btn btn-warning">Sign up</button>
  </div>
</form>
