<!-- views/pages/coupons.ejs -->
<!-- The coupons page for coupons will have search/list/add/delete/update UI here -->
<!DOCTYPE html>
<html lang="en">

<!-- User head in partials/index.ejs -->
<head>
  <% include ../partials/common/head %>
</head>

<body>

  <!-- User header in partials/header.ejs -->
  <header>
    <% include ../partials/common/header %>
  </header>

  <!-- Main body -->
  <main class="container">
    <div class="jumbotron couponTitle">
      <h1>Operation Error</h1>
    </div>
    <div class="alert alert-danger alert-dismissable fade in">
      <a href="javascript:history.go(-1)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Warning!</strong> Could not find the result in database by your input:
      <strong><%= errorData %></Strong>. Click <strong>'close'</strong> button back to last page.
    </div>
  </main>

  <!-- User footer in partials/footer.ejs -->
  <footer>
    <% include ../partials/common/footer %>
  </footer>

</body>
</html>
