.orderTitle h1 {
  font-family: 'Tangerine', sans-serif;
  text-shadow: 4px 4px 4px #aaa;
}

.orderList h4, .orderList h5{ 
  width: 30%;
  font-family: "Lucida Console", Courier, monospace;
  display: inline-block;
  padding-left: 7.5%;
}

.orderList button {
   margin-bottom: 2%;
}

.forRebate h4, .forRebate h5{
   text-decoration: underline;
}