.couponTitle h1 {
    font-family: 'Tangerine', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}

.couponList h4 {
	width: 17.5%;
	min-width: 150px;
	font-family: "Lucida Console", Courier, monospace;
	display: inline-block;
	padding-left: 3.5%;
}
