/* Login CSS */
.loginTitle h1 {
  font-family: 'Tangerine', sans-serif;
  text-shadow: 4px 4px 4px #aaa;
}

.loginTitle h2 {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px #aaa;
}

.loginForm input[type=text], input[type=password] {
  width: 100%;
  padding: 1% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.loginForm button {
  margin: 2% 0;
  width:100%;
}
