<!-- views/pages/coupons.ejs -->
<!-- The coupons page for coupons will have search/list/add/delete/update UI here -->
<!DOCTYPE html>
<html lang="en">

<!-- User head in partials/index.ejs -->
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- User header in partials/header.ejs -->
  <header>
    <% include ../partials/header %>
  </header>

  <!-- Main body -->
  <main class="container">
    <div class="jumbotron couponTitle">
      <h1>Coupons</h1>
      <h4>Please login to find all coupons and use search function!</h4>

      <div class="row">
        <div class="col-lg-8">
          <div class="input-group btn-group">
            <input id="couponSearchInput" type="text" class="form-control" placeholder="Input CouponCode..." onkeyup="myFunction()">
            <span class="input-group-btn">
              <button id="couponSearch" class="btn btn-info" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
              </button>
            </span>
          </div>
        </div>
      </div>

    </div>

    <!-- Edit Coupon in partials/couponEdit.ejs -->
    <div>
      <% include ../partials/couponEdit %>
    </div>

    <!-- Show CouponList in partials/couponList.ejs -->
    <div>
      <% include ../partials/couponList %>
    </div>

  </main>

  <!-- User footer in partials/footer.ejs -->
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
