<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<!-- User head in partials/index.ejs -->
<head>
    <% include ../partials/head %>
</head>

<body class="container">

<!-- User header in partials/header.ejs -->
    <header>
        <% include ../partials/header %>
    </header>

<!-- Main body -->
    <main>
        <div class="jumbotron">
            <h1>Daoyuan Coupons Services</h1>
            <p>Welcome to the couponse system</p>
            <p>Some introduction and guide can be shown in this page</p>
        </div>
    </main>

<!-- User footer in partials/footer.ejs -->
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>