<!-- views/pages/info.ejs -->
<!-- The info coupons page for coupons will have some details about developers or system introduction UI here -->
<!DOCTYPE html>
<html lang="en">

<!-- User head in partials/index.ejs -->
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- User header in partials/header.ejs -->
  <header>
    <% include ../partials/header %>
  </header>

  <!-- Main body -->
  <main class="container">
    <div class="jumbotron loginTitle">
      <h1>Log In / Out</h1>
      <h2 id="logInfo">Please Log In</h2>
      <!-- User Login Page in partials/login.ejs -->
      <div class="loginForm">
        <% include ../partials/login %>
      </div>
    </div>
  </main>

  <!-- User footer in partials/footer.ejs -->
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
