<!-- views/pages/orders.ejs -->
<!-- The orders page for coupons will have search/list/add/delete/update UI here -->
<!DOCTYPE html>
<html lang="en">

<!-- User head in partials/index.ejs -->
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- User header in partials/header.ejs -->
  <header>
    <% include ../partials/header %>
  </header>

  <!-- Main body -->
  <main  class="container">
    <div class="jumbotron orderTitle">
      <h1>Orders</h1>
      <h4>You can find all orders in below list !</h4>

      <!-- User orderSearch in partials/orderSearch.ejs -->
      <div>
        <% include ../partials/orderSearch %>
      </div>
    </div>

    <!-- Show OrderList in partials/orderList.ejs -->
    <div>
      <% include ../partials/orderList %>
    </div>
  </main>

  <!-- User footer in partials/footer.ejs -->
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
